* {
  background-color: rgb(173, 171, 171);
}

header {
  margin: 0px;
  border: 0px;
  display: flex;
  width: 100vw;
  background-color: rgb(55, 55, 55);
  height: 150px;
}

.bottom {
  display: flex;
  justify-self: center;
  width: 70%;
  background-color: black;
  color: white;
  height: 100px;
}

.main-stuff {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 500px;
}

.middle-ground {
  display: flex;
  justify-content: center;
}
